# .coveragerc to control coverage.py
[run]
branch = True
source = hirola

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
ignore_errors = True
